<!DOCTYPE html>
html(lang="en")
  include templates/head
  body
    div(class="countdown")
      img(class="pic" src='/img/muschel.svg')
      h2(id="countdown" class="counter")
    div(class="main-page")
      include templates/carousel

  include templates/footer
